.wrapper-content.animated.fadeInUp
	.container
		if isReady
			with getProject
				unless storeModeSet
					.row
						.col-xs-12.center-align
							h2.m-t.m-b-xl {{_ 'store.setup.title'}}
							p.m-b-xl {{{_ 'store.setup.description'}}}
						.col-xs-12.ibox-content
							.row.store-mode-wrapper
								.col-xs-12.col-sm-6
									.store-mode
										.description {{{_ 'store.setup.simple.description'}}}
										button#setStoreMode.btn.btn-lg.btn-primary(mode='simple') {{_ 'store.setup.simple.name'}}
								.col-xs-12.col-sm-6
									.store-mode
										.description {{{_ 'store.setup.advanced.description'}}}
										button#setStoreMode.btn.btn-lg.btn-primary(mode='advanced') {{_ 'store.setup.advanced.name'}}
				else
					.row
						.col-xs-12.center-align
							h2.m-t.m-b-xl {{_ 'store.title'}}
					.row
						.animated.fadeInUp(class="{{mainContainerClass}}")
							.ibox-content.forum-container
								if simpleMode
									h2.center-align {{_ 'store.setup.support'}}
								else
									if hasItemsOrViewAll
										each category in allItems
											.forum-section
												.forum-title
													.forum-desc.pull-right
														small {{_ 'store.type.' context=category.type }} {{_ 'store.total'}}: {{totalCategoryCount category}}
													h3 {{_ 'store.type.' context=category.type }}
												each item in category.items
													if haveThisItemOrViewAll item.short
														.forum-item(class="{{activePublication item.short}}")
															.row
																if showPublication
																	.col-xs-6
																		a#showPublication.forum-item-title(href short="{{item.short}}") {{item.short}}
																else
																	.col-sm-6.hidden-xs
																		if viewAll
																			.checkbox.checkbox-primary.checkbox-inline
																				input#togglePublication(type="checkbox" short="{{item.short}}" checked="{{addedItem item.short}}")
																				label
																		a#showPublication.forum-item-title(href short="{{item.short}}")
																			| {{_ 'store.publication.' context=item.short }}
																			sup
																				i.fa.fa-external-link
																	.col-xs-6.visible-xs
																		if viewAll
																			.checkbox.checkbox-primary.checkbox-inline
																				input#togglePublication(type="checkbox" short="{{item.short}}" checked="{{addedItem item.short}}")
																				label
																		a#showPublication.forum-item-title.m-t(href short="{{item.short}}")
																			| {{item.short}}
																			sup
																				i.fa.fa-external-link
																.col-sm-2.forum-info.hidden-xs.visible-sm.visible-md.visible-lg
																	.views-number.m-b-xs {{item.short}}
																	small {{_ 'store.short'}}
																.col-xs-3.col-sm-2.forum-info.visible-xs.visible-sm.visible-md.visible-lg
																	.views-number.m-b-xs {{languageCount item.short}}
																	small {{_ 'store.languages'}}
																.col-xs-3.col-sm-2.forum-info.visible-xs.visible-sm.visible-md.visible-lg
																	.views-number.m-b-xs {{totalCount item.short}}
																	small {{_ 'store.total'}}
										unless showPublication
											if viewAll
												.center-align.m-t
													button#hideAll.btn.btn-primary {{_ 'store.hideAll'}}
											else
												.center-align.m-t
													button#showAll.btn.btn-primary {{_ 'store.showAll'}}
									else
										.center-align
											h2 {{{_ 'store.noPublication'}}}
											button#showAll.btn.btn-primary.m-t {{_ 'store.showAll'}}
						.animated.fadeInRight(class="{{detailContainerClass}}")
							.ibox-content.forum-container.clearfix
								with selectedPublication
									#closePublication.btn.btn-white.m-b-lg(href)
										i.fa.fa-chevron-left
										| {{_ 'store.close'}}
									h2.m-b-lg
										.inline.p-xxs.bg-primary.b-r-sm.m-r-xs {{short}}
										| {{_ 'store.publication.' context=short }}
									h3 {{_ 'store.languages'}}
									ul.list-group
										each lang in getLanguages
											with haveThisLanguage lang
												li.list-group-item
													a#removeLanguage.btn.btn-danger.btn-xs.fa.fa-trash.pull-right(href title="{{_ 'store.removeLanguage'}}")
													span.badge.badge-primary {{stock}}
													| {{_ 'language.' context=short}}
									if addLanguage
										hr
										form.form-horizontal
											.form-group
												label.col-xs-4.control-label {{_ 'store.language'}}
												.col-xs-8
													select#newLanguage.form-control
														each getLanguages
															option(value='{{this}}') {{_ 'language.' context=this}}
											.form-group
												label.col-xs-4.control-label {{_ 'store.count'}}
												.col-xs-8
													input#newCount.form-control(type='number' placeholder='0' value='0')
										button#cancelAddLanguage.btn.btn-white.pull-right {{_ 'store.cancelAddLanguage'}}
										button#addLanguage.btn.btn-primary {{_ 'store.addLanguage'}}
									else
										button#startAddLanguage.btn.btn-primary.pull-right {{_ 'store.startAddLanguage'}}
					.row.center-align
						#resetStore.btn.btn-rounded.btn-danger.m-t
							i.fa.fa-trash
							| {{_ "store.reset"}}
		else
			.sk-spinner.sk-spinner-pulse
