#shiftModal.modal.inmodal(tabindex='-1' aria-hidden='true')
  with getShift
    .modal-dialog.animated.fadeInUp
      .modal-content
        .modal-header
          i.fa.fa-calendar-check-o.modal-icon
          h2.m-b-none {{format date 'YYYYDDDD' 'ddd, Do MMMM YYYY'}}, {{formatTimeComparison start end}}
        .modal-body
          each teams
            .panel.panel-success.team(class='{{status}}' data-id='{{_id}}' data-min='{{min}}' data-max='{{max}}')
              .panel-heading
                i.fa.fa-fw(class='{{getIcon icon}}')
                | {{name}}
              .panel-description
                with teamPicture
                  .picture
                    a(href='{{url}}' target='_blank')
                      img(src='{{url}}')
                if description
                  .content
                    | {{{win2html description}}}
                    if link
                      br
                      a(href='{{link}}' target='_blank')
                        | {{_ 'modal.shift.openLink'}}
                        i.fa.fa-angle-double-right
                else if teamPicture
                  .content
                    | {{_ 'modal.shift.clickToEnlarge'}}
                    if link
                      br
                      a(href='{{link}}' target='_blank')
                        | {{_ 'modal.shift.openLink'}}
                        i.fa.fa-angle-double-right
                else if link
                  .content
                    a(href='{{link}}' target='_blank')
                      | {{_ 'modal.shift.openLink'}}
                      i.fa.fa-angle-double-right
              if meetingStart
                .panel-description
                  with meetingPicture meetingStart._id
                    .picture
                      a(href='{{url}}' target='_blank')
                        img(src='{{url}}')
                  .content
                    b {{_ 'modal.shift.meetingAt'}} {{formatTimeWithSuffix meetingStart.time}}:
                    br
                    | {{meetingStart.name}}
              if meetingEnd
                .panel-description
                  with meetingPicture meetingEnd._id
                    .picture
                      a(href='{{url}}' target='_blank')
                        img(src='{{url}}')
                  .content
                    b {{_ 'modal.shift.meetingAt'}} {{formatTimeWithSuffix meetingEnd.time}}:
                    br
                    | {{meetingEnd.name}}
              if place
                .panel-description
                  with meetingPicture place._id
                    .picture
                      a(href='{{url}}' target='_blank')
                        img(src='{{url}}')
                  .content {{place.name}}
              .panel-participants.clearfix
                if isProjectShiftScheduler
                  if getSelectedCount _id
                    .select-legend
                      if equals min max
                        p.text-muted {{_ 'modal.shift.selected'}} {{getSelectedCount _id}} {{_ 'modal.shift.of'}} {{min}} | {{getHasTl _id}}
                      else
                        p.text-muted {{_ 'modal.shift.selected'}} {{getSelectedCount _id}} {{_ 'modal.shift.of'}} ({{min}}-{{max}}) | {{getHasTl _id}}
                if participants
                  each sortUsers participants
                    .participant
                      +React component=TeamMember member=this showStats=isMeShiftScheduler showSetLeader=isMeShiftScheduler showDecline=isMeShiftScheduler showMailStatus=isMeShiftScheduler
                if pending
                  if isProjectShiftScheduler
                    each user in sortUsers pending
                      .pending
                        .checkbox.m-n
                          .float-right
                            if user.email
                              a(href="mailto:{{user.email}}")
                                i.fa.fa-envelope.fa-fw
                            if user.phone
                              a(href="tel:{{user.phone}}")
                                i.fa.fa-phone.fa-fw
                          input(type='checkbox' id='selectUser_{{_id}}_{{user._id}}' checked='{{user.checked}}')
                          label(for='selectUser_{{_id}}_{{user._id}}')
                            +React component=TeamMember member=user showStats=true showSetLeader=true showDecline=true showMailStatus=true
                  else if schedulingIsDirect
                    each user in sortUsers pending
                      .pending
                        .float-right
                          if user.email
                            a(href="mailto:{{user.email}}")
                              i.fa.fa-envelope.fa-fw
                          if user.phone
                            a(href="tel:{{user.phone}}")
                              i.fa.fa-phone.fa-fw
                        | {{user.name}}
                if isProjectShiftScheduler
                  if declined
                    each sortUsers declined
                      .declined
                        .float-right
                          a.approveRequest(href)
                            i.fa.fa-thumbs-up.fa-fw
                          if email
                            a(href="mailto:{{email}}")
                              i.fa.fa-envelope.fa-fw
                          if phone
                            a(href="tel:{{phone}}")
                              i.fa.fa-phone.fa-fw
                          if informed
                            a.sentDeclined.pull-right.m-l-sm(href)
                              i.fa.fa-send
                          else
                            a.sendDeclined.pull-right.m-l-sm(href)
                              i.fa.fa-send-o
                        a(href)
                          +React component=TeamMember member=this showStats=true showSetLeader=true showDecline=true showMailStatus=true
                unless participants
                  if isProjectShiftScheduler
                    unless pending
                      unless declined
                        .noParticipants {{_ 'modal.shift.noParticipants'}}
                  else if schedulingIsDirect
                    unless pending
                      .noParticipants {{_ 'modal.shift.noParticipants'}}
                  else
                    .noParticipants {{_ 'modal.shift.noParticipants'}}
                if isProjectShiftScheduler
                  if getSelectedCount _id
                    .select-action-bar
                      if hasTl _id
                        button.approveSelected.btn.btn-primary.m-t-sm.m-b-sm.m-r-sm {{_ 'modal.shift.approveSelected'}}
                      else
                        button.btn.btn-primary.m-t-sm.m-b-sm.m-r-sm.disabled {{_ 'modal.shift.notTeamleader'}}
                      button.declineSelected.btn.btn-danger.m-t-sm.m-b-sm.m-r-sm {{_ 'modal.shift.declineSelected'}}
                      button.removeSelected.btn.btn-danger.btn-outline.m-t-sm.m-b-sm {{_ 'modal.shift.removeSelected'}}
                      hr.m-n
                if isThisTeamleader getShiftId _id
                  .btn-group.pull-right
                    button.btn.btn-white.dropdown-toggle.m-t-sm(data-toggle='dropdown' aria-expanded='false')
                      i.fa.fa-cog
                      span.caret
                    ul.dropdown-menu
                      if isProjectShiftScheduler
                        li
                          a.addParticipant(href)
                            i.fa.fa-fw.fa-user-plus
                            | {{_ 'modal.shift.addParticipant'}}
                      li
                        a.cancelTeam(href)
                          i.fa.fa-fw.fa-calendar-times-o
                          | {{_ 'modal.shift.cancelTeam'}}
                      if isProjectShiftScheduler
                        if equals status 'closed'
                          li
                            a.openTeam(href)
                              i.fa.fa-fw.fa-unlock
                              | {{_ 'modal.shift.openTeam'}}
                        else
                          li
                            a.closeTeam(href)
                              i.fa.fa-fw.fa-lock
                              | {{_ 'modal.shift.closeTeam'}}
                        li
                          a.sendUnderstaffed(href)
                            i.fa.fa-fw.fa-share
                            | {{_ 'modal.shift.sendUnderstaffed'}}
                if inArray participants '_id' currentUser._id
                  button.cancelParticipation.btn.btn-danger.m-t-sm.m-r-sm.pull-left {{_ 'modal.shift.cancelParticipation'}}
                else if inArray pending '_id' currentUser._id
                  button.cancelRequestTeam.btn.btn-warning.m-t-sm.m-r-sm.pull-left {{_ 'modal.shift.cancelRequest'}}
                else if inArray declined '_id' currentUser._id
                  if equals status 'open'
                    if notInOtherTeam
                      unless alreadyOver
                        button.requestTeam.btn.btn-primary.m-t-sm.m-r-sm.pull-left {{_ 'modal.shift.requestTeamAgain'}}
                else if equals status 'open'
                  if notInOtherTeam
                    unless alreadyOver
                      button.requestTeam.btn.btn-primary.m-t-sm.m-r-sm.pull-left {{_ 'modal.shift.requestTeam'}}
        .modal-footer
          if isProjectShiftAdmin
            button#switch.btn.btn-white.pull-left(data-dismiss='modal') {{_ 'modal.shift.switch'}}
          button.btn.btn-white(data-dismiss='modal') {{_ 'modal.close'}}
