template(name="InsertForm")
    .navigation-wrapper
        nav.navbar.navbar-fixed-top
            a.navbar-back(href="{{getBackLink}}")
                i.fa.fa-angle-left.m-r-xs
                | {{_ 'navigation.back'}}
            .navbar-title {{getTitle}}
            if isSaving
                .navbar-save
                    i.fa.fa-circle-o-notch.fa-spin
            else
                a.navbar-save(href) {{_ 'navigation.save'}}

    form.form-horizontal
        each field in getFields
            if isDropdown field
                with field
                    +InsertFormDropdownInput data=getInputData
            else if isCheckbox field
                with field
                    +InsertFormCheckboxInput data=getInputData
            else if isDate field
                with field
                    +InsertFormDateInput data=getInputData
            else if isTextbox field
                with field
                    +InsertFormTextboxInput data=getInputData
            else if isPassword field
                with field
                    +InsertFormPasswordInput data=getInputData
            else
                with field
                    +InsertFormTextInput data=getInputData

template(name="InsertFormTextInput")
    .section(class='{{getErrorClass}}')
        .section-header {{getEntityTranslation getKey}}
        .section-content
            .text-input
                input(type='text' placeholder='{{getEntityTranslation getKey}}' value='{{getValue}}')
        if hasError
            .section-error
                p {{getEntityErrorTranslation}}

template(name="InsertFormPasswordInput")
    .section(class='{{getErrorClass}}')
        .section-header {{getEntityTranslation getKey}}
        .section-content
            .text-input
                input(type='password' placeholder='{{getEntityTranslation getKey}}' value='{{getValue}}')
        if hasError
            .section-error
                p {{getEntityErrorTranslation}}

template(name="InsertFormDateInput")
    .section(class='{{getErrorClass}}')
        .section-header {{getEntityTranslation getKey}}
        .section-date
            input.datepicker(type='date' placeholder='{{getEntityTranslation getKey}}')
        if hasError
            .section-error
                p {{getEntityErrorTranslation}}

template(name="InsertFormDropdownInput")
    .section(class='{{getErrorClass}}')
        .section-header {{getEntityTranslation getKey}}
        .section-select
            select(name='{{getKey}}')
                with 'placeholder'
                    option(value) {{getEntityTranslation getItemKey}}
                if isAllowedValues
                    each getItems
                        option(value='{{this}}') {{getEntityTranslation getItemKey}}
                else if isAllowedKeyValues
                    each keyValue in getKeyValues
                        option(value='{{keyValue.key}}') {{keyValue.value}}
        if hasError
            .section-error
                p {{getEntityErrorTranslation}}

template(name="InsertFormCheckboxInput")
    .section(class='{{getErrorClass}}')
        .section-header {{getEntityTranslation getKey}}
        .section-select
            input(type='checkbox' checked='true')
            | {{getEntityTranslation getKey}}
        if hasError
            .section-error
                p {{getEntityErrorTranslation}}

template(name="InsertFormTextboxInput")
    .section(class='{{getErrorClass}}')
        .section-header {{getEntityTranslation getKey}}
        .section-content
            .text-input
                textarea(placeholder='{{getEntityTranslation getKey}}') {{getValue}}
        if hasError
            .section-error
                p {{getEntityErrorTranslation}}
