template(name="UpdateForm")

  .navigation-wrapper
    nav.navbar.navbar-fixed-top
      a.navbar-back(href="{{getBackLink}}")
        i.fa.fa-angle-left.m-r-xs
        | {{_ 'navigation.back'}}
      .navbar-title {{getTitle}}
      if isSearchEnabled
        .search.input-group
          span.input-group-addon &#xF002;
          input#search.form-control(type='search' placeholder='{{getSearchTranslation}}' autocomplete='off')

  if isSearchEnabled
    .search-splitter

  form.form-horizontal
    if isReady
      if isText
        +UpdateFormText data=getInputData
      else if isDate
        +UpdateFormDate data=getInputData
      else if isDropdown
        +UpdateFormDropdown data=getInputData
      else if isPicker
        +UpdateFormPicker data=getInputData
      else if isCheckbox
        +UpdateFormCheckbox data=getInputData
      else if isTextbox
        +UpdateFormTextbox data=getInputData
      else
        h1 Unsupported Inputtype
    else
      .section
        .section-header {{getEntityTranslation}}
        .section-loading
          i.fa.fa-circle-o-notch.fa-spin
