.row.navigation-wrapper
	nav.navbar.navbar-fixed-top
		.navbar-header
			if target
				a.navbar-brand(href="{{target}}")
					i.fa.fa-chevron-left.m-r-xs
					| {{name}}
			else if name
				a.navbar-brand.dashboard {{name}}
			else
				a.navbar-brand JWManagement
		ul.nav.navbar-top-links.navbar-right#profile
			li
				a.dropdown-toggle(href data-toggle='dropdown' aria-expanded='false')
					with picture
						img.profile-picture(src='{{url uploading="/img/loading.gif" storing="/img/loading.gif"}}' width='40' height='40')
					else
						.jdenticon {{{jdenticon size=40 radius=20 type='normal'}}}
					.username {{currentUser.profile.firstname}}
				ul.dropdown-menu.dropdown-menu-right
					li
						a(href="{{pathFor 'profile' language=langTag}}")
							i.fa.fa-user.fa-fw
							| {{_ 'navigation.profile'}}
					li.divider
					li.language-item
						a(href)
							i.fa.fa-language.fa-fw
							| {{_ 'language.' context=langTag }}
						ul.dropdown-menu.language-menu
							each lang in getLanguages
								li
									a.setLanguage(href lang='{{lang}}')
										if equals lang langTag
											i.fa.fa-check.fa-fw
										| {{_ 'language.' context=lang }}
										unless equals lang langTag
											| ({{_ 'language.' context=lang lang=lang }})
										i.fa.fa-angle-double-right.fa-fw.pull-right
					if isSupport
						li.divider
						li
							a(href="{{pathFor 'support'}}")
								i.fa.fa-heart.fa-fw
								| Support
					li.divider
					li
						a#logout(href)
							i.fa.fa-power-off.fa-fw
							| {{_ 'navigation.logout'}}
					with latestRelease
						.version
							if new
								.label.label-primary.pull-left {{_ 'navigation.new'}}
							a(href='//github.com/JWDeveloper/JWManagement/releases' target='blank') Version {{tag}}
