template(name="vessel.details")
  +DetailsForm data=data

template(name="vessel.insert")
  +InsertForm data=data

template(name="vessel.search")
  +SearchForm data=data

template(name="vessel.update")
  +UpdateForm data=data

template(name="vessel.visit.details")
  +DetailsForm data=data

template(name="vessel.visit.insert")
  +InsertForm data=data

template(name="vessel.visit.update")
  +UpdateForm data=data

template(name="vessel.visit.language.insert")
  +InsertForm data=data
