template(name="publisher.search")
  +SearchForm data=data

template(name="publisher.details")
  +DetailsForm data=data

template(name="publisher.update")
  +UpdateForm data=data

template(name="publisher.insert")
  +InsertForm data=data

template(name="publisher.permissions.details")
  +DetailsForm data=data

template(name="publisher.permissions.update")
  +UpdateForm data=data

template(name="publisher.password.insert")
  +InsertForm data=data

template(name="publisher.profile.availability.details")
  +DetailsForm data=data

template(name="publisher.profile.availability.insert")
  +InsertForm data=data

template(name="publisher.profile.vacation.insert")
  +InsertForm data=data
